<body>
  <h1 class="top-text">ようこそBookersへ！</h1>
  <p class="text-box">Bookersではさまざまな書籍に関するあなたの意見や
  <p class="text-box">印象を共有し交換することができます</p>

  <span>
    <%= link_to "start", '/books' %>
  </span>
</body>